.page-container {
    max-width: 80%;
    margin: 10px auto;
}

.mat-row:nth-child(even) {
    background-color: #f2f2f2;
}
.mat-row:nth-child(odd) {
    background-color: #fafafa;
}

table {
    width: 100%;
    border-top: 1px solid #dfdfdf;
}

.mat-column-tagline, .mat-column-first_brewed{
    display: none;
}

.table-container {
    margin: 10px 0;
    position: relative;
    table {
        min-height: 200px;
    }

    .loading-shade {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .loader {
        color: #980000;
        max-width: 360px;
        text-align: center;
    }
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.mat-header-cell {
    padding: 20px;
}

tr.mat-header-row,
tr.mat-row {
    height: initial;

    td {
        padding: 20px;
    }
}

tr.mat-row:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

th.mat-header-cell:first-of-type {
    padding-left: 20px;
}

@media only screen and (min-width: 992px) {
    .mat-column-tagline, .mat-column-first_brewed{
        display: table-cell;
    }
}
